{% extends 'management/base.html' %}

{% block title %}
    帖子管理
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
    <script src="{{ static('management/js/post.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="top-box">
        <div class="sort-group">
            <label>排序：</label>
            <select class="top-select" id="sort-select">
                <option value="1" {% if c_sort == 1 %}selected{% endif %}>按时间排序</option>
                <option value="2" {% if c_sort == 2 %}selected{% endif %}>按加精排序</option>
                <option value="3" {% if c_sort == 3 %}selected{% endif %}>按评论量排序</option>
            </select>
        </div>
        <div class="board-filter-group">
            <label>过滤板块：</label>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <th>标题</th>
            <th>发布时间</th>
            <th>作者</th>
            <th>板块</th>
            <th>操作</th>
        </thead>
        <tbody>
             {% for post in posts %}
                <tr post-id="{{ post.id }}">
                    <td>{{ post.title }}</td>
                    <td>{{ post.create_time }}</td>
                    <td>{{ post.author.username }}</td>
                    <td>{{ post.board.board_name }}</td>
                    <td>
                        <button class="btn btn-default btn-xs edit-post-btn">编辑</button>
                        <button class="btn btn-danger btn-xs delete-post-btn">删除</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}