{% extends 'management/base.html' %}

{% block title %}
    Personal Info
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    {% set adminer=g.administrator %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>username:</td>
                <td>{{ adminer.username }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ adminer.email }}</td>
            </tr>
            <tr>
                <td>Role:</td>
                <td>
                    {% for role in adminer.roles %}
                        {{ role.name }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Rights:</td>
                <td>
                    {% for role in adminer.roles %}
                        {{ role.desc }}
                        {% if not loop.last %}
                            /
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Access-Time:</td>
                <td>{{ adminer.reg_time }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
