{% extends 'management/base.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    Reset Email
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
    <style>
        .form-container{
            width:360px;
        }
    </style>
    <script src="/static/management/js/resetemail.js"></script>
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="form-container">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <div class="form-group">
                <div class="input-group">
                    <input type="email" class="form-control" name="email" placeholder="New email"/>
                    <span class="input-group-addon" style="cursor:pointer" id="captcha-btn">Get Captcha</span>
                </div>
            </div>

             <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control"  name="captcha" placeholder="Your captcha" id="input_captcha"/>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" id="confirm-btn">Confirm</button>
            </div>
        </div>
    </form>
    {% for msg in get_flashed_messages(category_filter=["err"]) %}
       <p>{{ msg }}</p>
    {% endfor %}
{% endblock %}
