{% from 'common/_macros.html' import static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}{% endblock %}</title>
    {% include "common/_header.html" %}
    <script src="{{ static('common/param_opt.js') }}"></script>
    <link rel="stylesheet" href="{{ static('forum/css/front_sign_base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="outer-box">
        <div class="logo-box">
            <a href="{{ url_for('forum.index') }}">
                <img src="{{ static('common/images/logo.jpg') }}"/>
            </a>
        </div>

        <h2 class="page-title" style="text-align:center">{% block page_title %}{% endblock %}</h2>

        <div class="sign-box">
            {% block signbox %}{% endblock %}
        </div>

    </div>

</body>
</html>